.products {
  margin: 50px 100px;
  
  position: relative;
}

.products button {
  padding: 17px 17px;
  border-radius: 10%;
  background-color: antiquewhite;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  
}

.products button a {
  color: black;
  width: 100%;
  height: 100%;
}

.products button:hover {
  background-color: black;
}

.products button:hover a {
  color: antiquewhite;
}

.products .liste {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 100px 0;
}

.products .liste .entete {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 1fr 1fr ;
  place-items: center;
  padding: 10px;
}